<body #fullPage class="h-dvh flex flex-col">
  <app-header></app-header>

  <main class="flex-1 bg-orange-100">
    <router-outlet></router-outlet>
  </main>
</body>

@if (notification) {
  <div
    class="z-50 opacity-100 flex justify-center items-center fixed top-1/3 start-1/3 h-1/4 w-2/6 bg-orange-200 rounded-md border-2 border-orange-400"
  >
    <button
      (click)="closeNotification()"
      class="transition bg-orange-400 rounded-md hover:bg-orange-500 absolute top-3 end-3 size-8 z-50"
    >
      <svg
        data-slot="icon"
        fill="none"
        stroke-width="1.5"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
      </svg>
    </button>

    {{ notificationMessage }}
  </div>
}
