<main class="size-fit bg-orange-100 p-8 space-y-9">
  <h1 class="font-bold leading-none tracking-tight text-black text-3xl">Carrito de la compra</h1>
  <div class="size-full grid grid-cols-5 space-x-3">
    <div class="size-full col-span-4 space-y-4 p-4 border-r border-amber-700">
      @for (producto of usuario?.carritoCompra; track $index) {
        <div
          id="TARJETA"
          class="w-full relative grid grid-cols-9 rounded overflow-hidden border-2 border-orange-400 bg-orange-200"
        >
          <button (click)="RemoveProductFromShoppintCart(producto)" class="absolute end-2 top-2">
            <svg
              class="size-6"
              data-slot="icon"
              fill="none"
              stroke-width="1.5"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
            </svg>
          </button>
          <div class="col-span-2">
            <img class="h-full w-full object-cover object-center" src="{{ producto.articulo.imagenesUrl[0] }}" alt="" />
          </div>
          <div class="col-span-7 p-4 overflow-y-auto">
            <h2 class="text-4xl font-medium">{{ producto.articulo.nombre }}</h2>
            <div class="relative mt-3 w-full flex space-x-8">
              @if (producto.descuentoAplicado.textoDescuento != '') {}
              <span class="text-2xl font-thin">{{ producto.descuentoAplicado.textoDescuento }} --> </span>
              <span class="text-2xl font-semibold underline">{{ ReturnPrice(producto.precioCents) }}</span>
              <span class="absolute end-10 text-2xl font-normal italic underline">Electronica</span>
            </div>
            <div class="flex my-4 space-x-8">
              <span class="font-sans">VENDEDOR: {{ producto.vendedor.nombre }}</span>
              <span class="font-sans">PRODUCTOR: {{ producto.articulo.productor.nombre }}</span>
            </div>
            <div class="max-h-max">
              <p><span class="font-bold underline mr-3">Origen:</span><span class="font-bold">España</span></p>
              <p>
                <span class="underline mr-3">Consejos utilizacion:</span
                ><span>{{ producto.articulo.consejosRetirada }}</span>
              </p>
              <p>
                <span class="underline mr-3">Consejos retirada:</span
                ><span>{{ producto.articulo.consejosRetirada }}</span>
              </p>
              <p>
                <span class="underline mr-3">Consejos produccion:</span
                ><span>{{ producto.articulo.procesoProduccion }}</span>
              </p>
              <p>
                <span class="underline mr-3">Impacto ambienta:</span
                ><span>{{ producto.articulo.impactoAmbientalSocial }}</span>
              </p>
              <p>
                <span class="underline mr-3">Contribución ODS:</span
                ><span>{{ producto.articulo.contribucionOds }}</span>
              </p>
            </div>
          </div>
        </div>
      }
    </div>
    <div class="col-span-1 p-4 pt-32 flex flex-col items-center space-y-3">
      <h1 class="font-semibold leading-none tracking-tight text-black text-l">
        TOTAL ({{ ReturnShoppingCartSize() }} Productos): {{ ReturnTotalPrice() }}
      </h1>
      <div class="bg-yellow-300 shadow w-48 text-center rounded-md hover:bg-yellow-400">
        <button routerLink="/process-order">Continuar con pedido</button>
      </div>
    </div>
  </div>
</main>
