<header class="bg-teal-700 h-20 flex items-center justify-between px-10">
    <div class="flex space-x-2">
      
      <button routerLink="../">
        <h1 class="text-4xl font-black text-orange-200">EcoBazar</h1>
      </button>
      <img
        class="object-contain rotate-0 hover:rotate-3"
        width="50"
        height="50"
        src="https://img.icons8.com/ios-glyphs/60/market-square.png"
        alt="market-square"
      />
    </div>
    <div class="w-3/6 mx-auto">
      <app-search-bar></app-search-bar>
    </div>
    <div class="flex space-x-4">
      @if (true) {
        <button
          class="rounded-full size-11 p-1 pl-1.5 flex items-center justify-center border-2 border-teal-800 bg-orange-100"
          routerLink="/shopping-cart"
        >
          <svg
            data-slot="icon"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            ></path>
          </svg>
        </button>
      } @else {
        <button
          id="log-in"
          class="mr-6 rounded-full size-9 p-1 flex items-center justify-center border-2 border-black"
          routerLink="/log-in"
          style="background-color: #dde5b6"
        >
          <svg
            data-slot="icon"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            ></path>
          </svg>
        </button>
      }
      @if (true) {
        <button
          id="user-profile"
          class="rounded-full size-11 p-1 flex items-center justify-center border-2 border-teal-800 bg-orange-100"
          routerLink="/user-profile"
        >
          <svg
            data-slot="icon"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
            ></path>
          </svg>
        </button>
      } @else {
        <button
          id="sig-in"
          class="mr-6 rounded-full size-9 flex items-center justify-center"
          routerLink="log-in"
          style="background-color: #dde5b6"
        >
          <svg
            data-slot="icon"
            fill="none"
            stroke-width="1.5"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            ></path>
          </svg>
        </button>
      }
    </div>
  </header>