<main class="p-6">
  <h2 class="font-semibold leading-none tracking-tight text-black text-2xl">Pedidos recientes:</h2>

  <div class="p-5 pl-0 space-y-8">
    <div id="TARJETA" class="h-80 w-full grid grid-cols-9 overflow-hidden bg-white">
      <div class="col-span-2">
        <img
          class="h-full w-full object-cover object-center"
          src="https://shop.athletic-club.eus/cdn/shop/files/AC2200ADUEFARJBL_02_430x.jpg?v=1688041863"
          alt="camiseta-athleti"
        />
      </div>

      <div class="col-span-7 p-6 rounded rounded-l-none border-y-2 border-r-2" style="border-color: #adc178">
        <h4 class="font-semibold leading-none tracking-tight text-black text-xl">Pedido numero: #####</h4>
        <div class="grid grid-cols-5 size-full p-6">
          <div class="col-span-2 pr-14 flex flex-col justify-between">
            <h5 class="font-semibold leading-none tracking-tight text-black text-lg">Productos del pedido:</h5>
            <div class="flex flex-col p-3 mt-1 pl-12 max-h-36 space-y-2 overflow-y-auto flex-1">
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta Camiseta Camiseta</p>
            </div>
            <div class="font-semibold leading-none tracking-tight text-black text-lg">TOTAL: ##.##€</div>
          </div>
          <div class="col-span-3 flex flex-col">
            <h5 class="font-semibold leading-none tracking-tight text-black text-lg">DIRECCIÓN DE ENVÍO:</h5>
            <div class="flex flex-col pt-3 mt-1 pl-12 max-h-36 space-y-2">
              <b class="font-semibold leading-none tracking-tight text-black text-sm">CALLE: ############</b>

              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">NUMERO: ##</b>
                <b class="ml-4 font-semibold leading-none tracking-tight text-black text-sm">COD. POSTAL: ####</b>
              </div>
              <div class="">
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PISO: ####</b>
                <b class="ml-4 font-semibold leading-none tracking-tight text-black text-sm">PUERTA: ####</b>
              </div>

              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">POBLACIÓN: ###</b>
              </div>
              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PROVINCIA: ####</b>
              </div>
              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PAIS: ###</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="h-80 w-full grid grid-cols-9 overflow-hidden bg-white">
      <div class="col-span-2">
        <img
          class="h-full w-full object-cover object-center"
          src="https://shop.athletic-club.eus/cdn/shop/files/AC2200ADUEFARJBL_02_430x.jpg?v=1688041863"
          alt="camiseta-athleti"
        />
      </div>

      <div class="col-span-7 p-6 rounded rounded-l-none border-y-2 border-r-2" style="border-color: #adc178">
        <h4 class="font-semibold leading-none tracking-tight text-black text-xl">Pedido numero: #####</h4>
        <div class="grid grid-cols-5 size-full p-6">
          <div class="col-span-2 flex flex-col justify-between">
            <h5 class="font-semibold leading-none tracking-tight text-black text-lg">Productos del pedido:</h5>
            <div class="flex flex-col p-3 mt-1 pl-12 max-h-36 space-y-2 overflow-y-auto flex-1">
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta</p>
              <p class="font-semibold leading-none tracking-tight text-black text-sm">1 x Camiseta</p>
            </div>
            <div class="font-semibold leading-none tracking-tight text-black text-lg">TOTAL: ##.##€</div>
          </div>
          <div class="col-span-3 flex flex-col">
            <h5 class="font-semibold leading-none tracking-tight text-black text-lg">DIRECCIÓN DE ENVÍO:</h5>
            <div class="flex flex-col pt-3 mt-1 pl-12 max-h-36 space-y-2">
              <b class="font-semibold leading-none tracking-tight text-black text-sm">CALLE: ############</b>

              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">NUMERO: ##</b>
                <b class="ml-4 font-semibold leading-none tracking-tight text-black text-sm">COD. POSTAL: ####</b>
              </div>
              <div class="">
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PISO: ####</b>
                <b class="ml-4 font-semibold leading-none tracking-tight text-black text-sm">PUERTA: ####</b>
              </div>

              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">POBLACIÓN:</b>
              </div>
              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PROVINCIA:</b>
              </div>
              <div>
                <b class="font-semibold leading-none tracking-tight text-black text-sm">PAIS:</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div></div>
</main>
